body,input,button{
    font-family: Calibri, Courier, monospace;
    font-weight: bold;
    font-size: xx-large;
}

#container{
    border: 0.5em solid green;
    border-radius: 25px;
    background-color: lightgray;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 12em;
    height: 7.5em;
    
    text-align: center;
}

#timer-block{
    border: 0px solid red;
    width: 12em;
    height: 4em;
    /*
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    */
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

#ftime{
    border: 0px solid red;
    text-align: left;
    width: 8em;

    padding-left: 1.2em;

    margin-left: auto;
    margin-right: auto;
    
    
}

#buttons{
    margin-top: 0.5em;
}

#share{
    border: 0px solid red;
    text-align: center;
    margin-top: 1.2em;
    margin-left: auto;
    margin-right: auto;
    font-size: initial;
}

#footer{
    border: 0px solid red;
    position: absolute;
    bottom: 0;
    width: 98%;
    
    text-align: center;
    font-size: small;
    
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    
}